*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    color: white;
    text-align: center;
}

section{
    text-align: center;
    background-color: white;
    border-radius: 3px;
    padding: 15px;
    width: 500px;
    margin: auto; /*Centraliza*/
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

#img{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    padding:20px;
}

#texthr{
    padding-top: 10px;
}